@font-face {
  font-family: 'Onest';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('@/assets/fonts/Onest-ExtraLight.woff2') format('woff2'), url('@/assets/fonts/Onest-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Onest';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('@/assets/fonts/Onest-Regular.woff2') format('woff2'), url('@/assets/fonts/Onest-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Onest';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('@/assets/fonts/Onest-Bold.woff2') format('woff2'), url('@/assets/fonts/Onest-Bold.woff') format('woff');
}




