:root {
  --color-brand-50: #edf7ff;
  --color-brand-100: #d6ecff;
  --color-brand-200: #b6e0ff;
  --color-brand-300: #83ceff;
  --color-brand-400: #49b1ff;
  --color-brand-500: #208dff;
  --color-brand-600: #086bff;
  --color-brand-700: #0254f3;
  --color-brand-800: #0944c4;
  --color-brand-900: #0f41a3;
  --color-brand-950: #0e265d;

  --color-primary-50: #f6f6f6;
  --color-primary-100: #e7e7e7;
  --color-primary-200: #d1d1d1;
  --color-primary-300: #b0b0b0;
  --color-primary-400: #888888;
  --color-primary-500: #6d6d6d;
  --color-primary-600: #5d5d5d;
  --color-primary-700: #4f4f4f;
  --color-primary-800: #454545;
  --color-primary-900: #3d3d3d;
  --color-primary-950: #0a0a0a;


}