:root {
  --font-primary: 'Onest';

  --transition-slow: 0.3s;
  --transition-default: 0.2s;
  --transition-fast: 0.1s;

  --radius-xs: 3px;
  --radius-s: 5px;
  --radius-m: 6px;
  --radius-l: 8px;
  --radius-xl: 10px;

  --size-header: 64px;

  --size-form-xs: 20px;
  --size-form-s: 24px;
  --size-form-m: 28px;
  --size-form-l: 36px;
  --size-form-xl: 44px;

  --gap-section-default: 108px;
}