:export {
  // Breakpoints
  fullscreenDefault: $breakpoint-fullscreen-default;
  fullscreenSmall: $breakpoint-fullscreen-small;
  laptopLarge: $breakpoint-laptop-large;
  laptopDefault: $breakpoint-laptop-default;
  laptopSmall: $breakpoint-tablet-small;
  tabletDefault: $breakpoint-tablet-default;
  tabletSmall: $breakpoint-tablet-small;
  mobileLarge: $breakpoint-mobile-large;
  mobileDefault: $breakpoint-mobile-default;
  mobileSmall: $breakpoint-mobile-small;
}