//Colors
$color-bg-base-primary: #fff;
$color-bg-base-secondary: #edf2fb;

$color-text-base-primary: #011627;

// Breakpoints
$breakpoint-fullscreen-default: 2560px;
$breakpoint-fullscreen-small: 1920px;

$breakpoint-laptop-large: 1536px;
$breakpoint-laptop-default: 1440px;
$breakpoint-laptop-small: 1280px;

$breakpoint-tablet-default: 1024px;
$breakpoint-tablet-small: 768px;

$breakpoint-mobile-large: 576px;
$breakpoint-mobile-default: 480px;
$breakpoint-mobile-small: 320px;

