// Colors

.bg-base-primary-1 {
  background-color: var(--color-base-primary-1);
}

.bg-base-primary-2 {
  background-color: var(--color-base-primary-2);
}

.bg-base-primary-3 {
  background-color: var(--color-base-primary-3);
}

.container-default {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);


  @media screen and (max-width: $breakpoint-laptop-small) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (max-width: $breakpoint-mobile-large) {
    padding-left: 20px;
    padding-right: 20px;
  }
}


.clickable {
  cursor: pointer;
}

.scrollable {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent-primary-1) var(--color-base-primary);


  &::-webkit-scrollbar-track {
    background-color: var(--color-base-primary);
  }

  &::-webkit-scrollbar {
    width: 6px;
    border-radius: 6px;
    background-color: var(--color-accent-primary-1);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-accent-primary-1);
    border-radius: 6px;
  }
}


// Border radius
.radius-small {
  border-radius: var(--radius-small);
}

.radius-default {
  border-radius: var(--radius-default);
}

.radius-large {
  border-radius: var(--radius-large);
}


// Grid box {
.grid {
  display: grid;

  &-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}


// Flex box
.i-flex {
  display: inline-flex;
}

.flex {
  display: flex;

  &-col {
    flex-direction: column;
  }

  &-wrap {
    flex-wrap: wrap;
  }
}

.items {

  &-start {
    align-items: start;
  }

  &-center {
    align-items: center;
  }

  &-end {
    align-items: flex-end;
  }
}

.justify {

  &-between {
    justify-content: space-between;
  }

  &-center {
    justify-content: center;
  }

  &-evenly {
    justify-content: space-evenly;
  }

  &-end {
    justify-content: flex-end;
  }
}
