// Сделано не через миксин чтоб Ide подсказывало

.bg-color-primary-50 {
  background-color: var(--color-primary-50);
}

.bg-color-primary-100 {
  background-color: var(--color-primary-100);
}

.bg-color-primary-200 {
  background-color: var(--color-primary-200);
}

.bg-color-primary-300 {
  background-color: var(--color-primary-300);
}

.bg-color-primary-400 {
  background-color: var(--color-primary-400);
}

.bg-color-primary-500 {
  background-color: var(--color-primary-500);
}

.bg-color-primary-600 {
  background-color: var(--color-primary-600);
}

.bg-color-primary-700 {
  background-color: var(--color-primary-700);
}

.bg-color-primary-800 {
  background-color: var(--color-primary-800);
}

.bg-color-primary-900 {
  background-color: var(--color-primary-900);
}

.bg-color-primary-950 {
  background-color: var(--color-primary-950);
}

.color-primary-50 {
  color: var(--color-primary-50);
}

.color-primary-100 {
  color: var(--color-primary-100);
}

.color-primary-200 {
  color: var(--color-primary-200);
}

.color-primary-300 {
  color: var(--color-primary-300);
}

.color-primary-400 {
  color: var(--color-primary-400);
}

.color-primary-500 {
  color: var(--color-primary-500);
}

.color-primary-600 {
  color: var(--color-primary-600);
}

.color-primary-700 {
  color: var(--color-primary-700);
}

.color-primary-800 {
  color: var(--color-primary-800);
}

.color-primary-900 {
  color: var(--color-primary-900);
}

.color-primary-950 {
  color: var(--color-primary-950);
}

.bg-color-brand-50 {
  background-color: var(--color-brand-50);
}

.bg-color-brand-100 {
  background-color: var(--color-brand-100);
}

.bg-color-brand-200 {
  background-color: var(--color-brand-200);
}

.bg-color-brand-300 {
  background-color: var(--color-brand-300);
}

.bg-color-brand-400 {
  background-color: var(--color-brand-400);
}

.bg-color-brand-500 {
  background-color: var(--color-brand-500);
}

.bg-color-brand-600 {
  background-color: var(--color-brand-600);
}

.bg-color-brand-700 {
  background-color: var(--color-brand-700);
}

.bg-color-brand-800 {
  background-color: var(--color-brand-800);
}

.bg-color-brand-900 {
  background-color: var(--color-brand-900);
}

.bg-color-brand-950 {
  background-color: var(--color-brand-950);
}

.color-brand-50 {
  color: var(--color-brand-50);
}

.color-brand-100 {
  color: var(--color-brand-100);
}

.color-brand-200 {
  color: var(--color-brand-200);
}

.color-brand-300 {
  color: var(--color-brand-300);
}

.color-brand-400 {
  color: var(--color-brand-400);
}

.color-brand-500 {
  color: var(--color-brand-500);
}

.color-brand-600 {
  color: var(--color-brand-600);
}

.color-brand-700 {
  color: var(--color-brand-700);
}

.color-brand-800 {
  color: var(--color-brand-800);
}

.color-brand-900 {
  color: var(--color-brand-900);
}

.color-brand-950 {
  color: var(--color-brand-950);
}