@import "@/assets/styles/base/normalize";
@import "@/assets/styles/base/fonts";

@import "@/assets/styles/variables/colors";
@import "@/assets/styles/variables/utils";

@import "@/assets/styles/helpers/colors";
@import "@/assets/styles/helpers/utils";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-size: inherit;
  color: inherit;
}

::selection {
  color: var(--color-primary-50);
  background-color: var(--color-brand-500);
}


:disabled {
  cursor: not-allowed;
}

html {
  font-size: 16px;
  font-family: var(--font-primary), Arial, sans-serif;
  color: var(--color-primary-900);
  background-color: var(--color-primary-50);
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


